<app-navbar></app-navbar>
  <div *ngFor="let cloth of clothes">
    <div class="parent">
        <div class="div7">
            <img  class="image"[src]="'data:image/jpg;base64,'+cloth.image" style="height:200px;width:200px"/>
        </div>
        <div class="div1">
          {{cloth.name }}
        </div>
        <div class="div2">
            Color: {{cloth.color.name }}
          </div>
        <div class="div3" >
            <mat-form-field >
            <mat-label>Size</mat-label>
            <mat-select [(ngModel)]="size" >
                <mat-option *ngFor="let size of cloth.sizes" [value]="size">
                    {{size.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>
        </div>
        <div class="div4">
          Price: {{cloth.price | currency}}
        </div>
        <div class="div5">
          <button mat-raised-button color="primary" (click)="addToCart(cloth)">Add to cart</button>
        </div>
        <div class="div6"></div>

    </div>
