.parent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }

.div1 { grid-area: 2 / 3 / 3 / 4;
        text-align: center;
        color: blue;
        font-size: 25px; }
.div2 { grid-area: 3 / 3 / 4 / 4;
        text-align: center; }
.div3 { grid-area: 4 / 3 / 6 / 4;
        text-align: center; }
.div4 { grid-area: 6 / 3 / 7 / 4;
        text-align: center; }
.div5 { grid-area: 7 / 3 / 8 / 4;
        margin: auto; }
.div6 { grid-area: 8 / 2 / 9 / 4;
        border-bottom: 2px dotted #444444; }
.div7 { grid-area: 2 / 2 / 8 / 3;
        margin: auto;}
